<div style="padding-left: 15px;"><p id="notice"><%= notice %></p>

<p>
		<strong>Title:</strong>
		<%= @question.title %>
</p>

<strong>Body:</strong>
<%= @question.body %>
<br/>
<h4><%= @question.answers.count %> answers </h4>
<%= render @question.answers %>
<h3>Reply to thread </h3>
		<%= render "answers/form" %>
<br/>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
</div>