<h1>Chatting with <%= @conversation.with(current_user).email %></h1>

<div id="conversation-main">
		<div id="conversation-body">
				<%= render @conversation.personal_messages %>
		</div>

		<%= form_for @personal_message do |f| %>
				<%= hidden_field_tag 'conversation_id', @conversation.id %>
				<div class="form-group">
						<div class="col-sm-4">
								<%= f.text_area :body, class: "form-control" %>
						</div>
				</div>
				<%= f.submit "write new message",class: "btn btn-success" %>
		<% end %>
</div>
