<table>
		<tr>
				<td>	<%= user.email %> | <%= link_to 'send a message', new_personal_message_path(receiver_id: user), class: "btn btn-warning" %></td>
				<td>
						<%= link_to "view profile",user_path(user.id), class: "btn btn-primary"%>
				</td>
				<td>
						<% if current_user.not_friends_with?(user.id) %>
								<%= link_to "follow",add_friends_path(user: current_user, friend: user), method: :post, class: "btn btn-primary" %>
						<% else %>
								<%= link_to "unfollow", friendship_path(user), method: :delete, data: {:confirm => "Are you sure " },class: "btn btn-danger" %>
						<% end %>
				</td>
		</tr>
</table>
