<li>
		<%= user.email %> | <%= link_to 'send a message', new_personal_message_path(receiver_id: user), class: "btn btn-warning" %>
		<%= link_to "view profile",user_path(user.id), class: "btn btn-primary"%>
		<% if current_user.not_friends_with?(user.id) %>
				<%= link_to "follow as friend",add_friends_path(user: current_user, friend: user), method: :post, class: "btn btn-primary"%>
		<% else %>
				<p>You are friends</p>
				<%= link_to "unfollow", friendship_path(user), method: :delete, data: {:confirm => "Are you sure " },class: "btn btn-danger" %> 
		<% end %>
</li>
