<div style="padding-left: 15px"><h1>Your posts</h1>
<% @posts.each do |post| %><div class="card" style="padding-left: 10px;">
		<%= post.id %> <br/>
		<%= post.body.html_safe %> <br/></div>
<% end %>


<h1>Your questions</h1>

<% @questions.each do |question| %><div class="card" ">
		<%= question.id %> <br/>
		<%= question.body %> <br/></div>
<% end %>
</div>

<h1>Your images </h1>
<%= image_tag current_user.user_image.url(:medium),alt: "something is wrong" %>

<h1>Current stat</h1>
Followers:: <%= @followers.size %>
Following:: <%= @following.size %>
