<div class="container" ><h1 style="text-align: center">Your posts</h1>
<% @posts.each do |post| %><div class="card text-center">
		<div class=card-title><%= post.id %> <br/></div>
		<div class=card-text><%= post.body.html_safe %> <br/></div></div>
<% end %>


<h1>Your questions</h1>

<% @questions.each do |question| %><div class="card text-center" >
				<div class=card-title><%= question.id %> <br/></div>
		<div class=card-text><%= question.body %> <br/></div></div>
<% end %>


<h1>Your images </h1>
<%= image_tag current_user.user_image.url(:medium),alt: "something is wrong" %>

</div>
