<center><h1><%= current_user.username =%>'s Profile<br>

</h1>
<a href="users/edit">Edit</a> |
<a href="users/edit">Settings</a> |
<a href="friend">Friends</a> |
<a href="conversations">Message</a> 


</center>
<hr />

<div class="profile">
<%= image_tag current_user.user_image.url(:medium),alt: "no profile picture found" %>
		<br/>
Followers:: <%= @followers.size %>
Following:: <%= @following.size %>
<br>
<div style="padding-left: 15px"><h4>Posts</h4><hr/>
<% @posts.each do |post| %><div class="card" style="padding-left: 10px;">
		<%= post.id %> <br/>
		<%= post.body.html_safe %> <br/></div>
<% end %>


<h4>Questions</h4><hr/>

<% @questions.each do |question| %><div class="card" ">
		<%= question.id %> 
		<%= question.title %><br/>
		<%= question.body %> <br/></div>
<% end %>
</div>



</div>


