<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<h1>New posts</h1>

<%= form_for @post do |f|  %>
		<%= f.label :title %>
		<%= f.text_field :title %>
		<br/>
		<%= f.label :body %>
		<%= f.text_area :body %>
		<br/>
		<%= f.submit "Create"%>
<% end %>
