<div style="padding-left: 15px;">
		<h1><%= @post.title %></h1>
		<div class="froala-view">
				<%= simple_format(@post.body) %>
		</div>
		Number of tags: <%= @tag_count %> <br/>
		<%# if current_user == @post.user %>
		<% if can? :update, @post %>
				<%= link_to "edit", edit_post_path,  class: "btn btn-success"%>
		<% end %>
		<% if can? :destroy, @post  %>
				<%= link_to "delete post",post_path,method: :delete,class: "btn btn-success"%>
		<% end %>
		<br/>

<%= link_to "like" , like_post_path(@post), class: "like", method: :put %>
<%= @post.get_upvotes.size %>
<%= link_to "dislike",dislike_post_path(@post),class: "dislike",method: :put %>
<%= @post.get_downvotes.size %>



<h1>here are some comments</h1>
<%= render partial: "comments/comments" %>
<%= render partial: "comments/comment_form" %>
</div>
<%= link_to "back", posts_path, class: "btn btn-primary" %>


<p>
		The output of finding tf-idf similarity
		<%= @values_tfidf %>
</p>
