<div class="post">
		<h2 class="header"><%= @post.title %></h2><hr />
		<% if @username != "admin" %> 
				<span>By: <b><%= link_to User.find(@post.user_id).username,user_path(@post.user_id) %></b></span><br>
		<% end %>
		<br />
		<div class="froala-view">
				<%= simple_format(@post.body) %>
		</div>
		
		
		<%# if current_user == @post.user %>
		<% if can? :update, @post %>
				<%= link_to "edit", edit_post_path,  class: "btn btn-success"%>
		<% end %>
		<% if can? :destroy, @post  %>
				<%= link_to "delete post",post_path,method: :delete,class: "btn btn-success"%>
		<% end %>
		

<%= link_to "Upvote:" , like_post_path(@post), class: "like", method: :put,remote: true %>
<%= @post.get_upvotes.size %>
<%= link_to "Downvote:",dislike_post_path(@post),class: "dislike",method: :put , remote: true%>
<%= @post.get_downvotes.size %>
<hr />



<h4><u>Comments</u>	</h4>
<%= render partial: "comments/comments" %><hr />
<%= render partial: "comments/comment_form" %>

<%= link_to "Back", posts_path, class: "btn btn-primary" %>
</div>


<%#= @similars %>
<%#= @similarity_value %>
<%#= @similarity_hash %>
<%#= @new_similarity_hash %>

<%#= @perfect_hash %>
<div class="hamro-recommendations">
		<h1>Similar Posts</h1>
		<% @similar_posts.each do |similar_post| %>
				<%= link_to similar_post.title,post_path(similar_post.id) %> <br/>
		<% end %>
</div>
