<h1><%= @post.title %></h1>
<p><%= @post.body.html_safe %></p>
<% if current_user == @post.user %>
		<%= link_to "edit", edit_post_path,  class: "btn btn-primary"%>
		<%= link_to "delete post",post_path,method: :delete,class: "btn btn-primary"%>
<% end %>		

<%= link_to "like" , like_post_path(@post), class: "like", method: :put %>
<%= @post.get_upvotes.size %>
<%= link_to "dislike",dislike_post_path(@post),class: "dislike",method: :put %>
<%= @post.get_downvotes.size %>



<h1>here are some comments</h1>
<%= render partial: "comments/comments" %>
<%= render partial: "comments/comment_form" %>
