<div class="post">
		<h2 class="header"><%= @post.title %></h2><hr />
		<% if @username != "admin" %> 
				<span>By: <b><%= link_to @username,user_path(@post.user_id) %></b></span><br>
		<% else %>
				<span>By:<%= "admin" %></span>
		<% end %>
		<br />
		<div class="froala-view">
				<%= simple_format(@post.body) %>
		</div>
		
		
		<%# if current_user == @post.user %>
		<% if can? :update, @post %>
				<%= link_to "edit", edit_post_path,  class: "btn btn-success"%>
		<% end %>
		<% if can? :destroy, @post  %>
				<%= link_to "delete post",post_path,method: :delete,class: "btn btn-success"%>
		<% end %>
		

<%= link_to "Upvote:" , like_post_path(@post), class: "like", method: :put %>
<%= @post.get_upvotes.size %>
<%= link_to "Downvote:",dislike_post_path(@post),class: "dislike",method: :put %>
<%= @post.get_downvotes.size %>
<hr />



<h4><u>Comments</u>	</h4>
<%= render partial: "comments/comments" %><hr />
<%= render partial: "comments/comment_form" %>

<%= link_to "Back", posts_path, class: "btn btn-primary" %>
</div>
