<h1>New message to <%= @receiver.email %></h1>

<%= form_for @personal_message do |f| %>
		<div class="form-group">
				<%= hidden_field_tag 'receiver_id', @receiver.id %>
				<div class="form-group row">
						<label for="example-text-input" class="col-2 col-form-label">Write a message!!</label>
						<div class="col-10">
								<%= f.text_field :body, class: "form-control" %>
						</div>
				</div>
		<%= f.submit,class: "btn btn-success" %>

<% end %>

