<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		</button>
		<% if user_signed_in? %>
				<% link_to current_user.email ,root_path,class: "navbar-brand"%>
		<% else %>
				<%= link_to "Social network",root_path,class: "navbar-brand"%>
		<% end %>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto nav nav-pills">
						<% if user_signed_in? %>
								<li class="nav-item">
										<%= link_to "Signout",destroy_user_session_path,class: "nav-link", method: :delete%>
								</li>
								<li class="nav-item">
										<%= link_to "write new post",new_post_path, class: "nav-link"%>
								</li>
						<% else %>
								<li class="nav-item">
										<%= link_to "Sign up",new_user_registration_path, class: "nav-link"%>
								</li>
								
								<li class="nav-item">
										<%= link_to "Home",root_path, class: "nav-link"%>
								</li>
								<li class="nav-item">
										<%= link_to "About",about_path, class: "nav-link"%>
								</li>
								<li class="nav-item">
										<%= link_to "Contact",contact_path, class: "nav-link"%>
								</li>
						<% end %>
				</ul>
		</div>
</nav>
