
<div class='footerholder'>
	<div class="footer">
		<nav>
			<ul>
				<!-- <li><%= link_to "About",   '#' %></li> -->
	      		<!-- <li><%= link_to "Fee Guide", '#' %></li> -->
	      		<li><%= link_to "Contact Us", "#" %></li>
	      		<li><%= link_to "Terms of Use",   "#" %></li>
	      		<li><%= link_to "Privacy Policy",   "#" %></li>
	      		
			</ul>
		</nav>
	</div>	
	</div>