<ul class="justify-content-end" >



</ul>
<ul class="navbar-nav justify-content-end" >
		<% if user_signed_in? %>

				<li class="nav-item">
				<%= link_to "Devstory", root_path, class: 'nav-link' %>
				</li>

				<li class="nav-item">
						<%= link_to "New Blog",new_post_path, class: "nav-link"%>
				</li>
				<li class="nav-item">
						<%= link_to "Forum",questions_path,class: "nav-link"%>
				</li>
				
				<li>
					<%= link_to "View profile", profile_path, class: "nav-link"%>	
				</li>
				
				<li>
					<%= link_to 'Messages', conversations_path,class: "nav-link" %>
				</li>
										
				<li class="nav-item ">
				
						<div class="dropdown nav-link">
								<div class="dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<button type="button" class="btn btn-secondary"><%= current_user.email %></button> 
								</div>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

										<%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
										
										<%= link_to "Settings", settings_path, class: "dropdown-item"%>
										<%= link_to "Signout",destroy_user_session_path,class: "dropdown-item", method: :delete %>
								</div>
						</div>
				</li>
		</div>

		<% end %>

		<% if user_signed_in? %>

		<% end %>
		</ul>
