<nav class="navbar navbar-toggleable-md  ">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		

				<div class="collapse navbar-collapse " id="navbarSupportedContent">
				<ul class="navbar-nav nav pull-sm-right"  ">
						<% if user_signed_in? %>
								<li class="nav-item">
										<%= link_to "write new post",new_post_path, class: "nav-link"%>
								</li>
								<li class="nav-item">
										<%= link_to "forum",questions_path,class: "nav-link"%>
								</li>
								<li class="nav-item">
										<%= link_to current_user.email,root_path, class: "nav-link"%>
								</li>
								<li class="nav-item">
										<%= link_to "Signout",destroy_user_session_path,class: "nav-link", method: :delete %>
								</li>
								<li class="nav-item">
										<%= link_to 'Users', users_path,class: "nav-link" %>
								</li>
						<% else %>
								<li class="nav-item " id="navi" >
								<span >
										<%= link_to "Sign up",new_user_registration_path, class: "nav-link"%>
								</li>
								<li class="nav-item">
										<%= link_to "About",about_path, class: "nav-link"%>
								</li>
								<li class="nav-item">
										<%= link_to "Contact",contact_path, class: "nav-link"%>
								</li>
						<% end %>
				</ul>
		</div>
</nav>
