<!DOCTYPE html>
<html>
  <head>
    <title>Socialnetwork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
			<%= render "layouts/navbar" %>
			<% flash.each do |key,value| %>
			<div class="alert alert-warning" role="alert">
					<strong><%= value %></strong> 
			</div>
			<% end %>
			<div class="conatiner <%= controller_name %> <%= action_name %>">
							<%= yield %>
			</div>
  </body>
</html>
